Nao comitar/looop.txt.csv
__pycache__/recurso.cpython-36.pyc
__pycache__/Menu.cpython-36.pyc
__pycache__/gerenciador.cpython-36.pyc
__pycache__/computador.cpython-36.pyc
Nao comitar/teste.txt.csv
Nao comitar/Menu (cópia).py
Nao comitar/main (cópia).py
Nao comitar/ll.csv
Nao comitar/GerenciadorDownload.zip
Nao comitar/COMPUTA.csv
Nao comitar/apagar.py
.vscode/settings.json
.vscode/launch.json
.pytest_cache/v/cache/stepwise
.pytest_cache/v/cache/nodeids
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/GerenciadorDownload.iml
